*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: auto;
    padding: 0px 20px;
    max-width: 1200px;
}
.navbar{
    display: flex;
    align-items: center;
    background: linear-gradient(270.01deg, #04040C -9.42%, #01050d -9.42%, #01040A 21.93, #01050D 76.96%, 191E25 80.51%);
}
.ul{
    list-style: none;
    padding-top: 10px;
    display: flex;
    margin-left: 400px;
    margin: 10px;
}
.li{
    margin-left: 25px;
}
@font-face{
    font-family: "Poppins";
    src: url(../file/Poppins-Medium.ttf);
}
a{
    text-decoration: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400px;
    font-size: 10-8896px;
    line-height: 20px;
}